- form_for Cleaner.new do |cleaner_form|
  #new-cleaner.long-form  
    #intro
      %h1 Join Innocent Cleaners
    
      %p You're just 60 seconds away from being available for hire on Innocent Cleaners!
  
    #personal    
      %hr
      %h2 1. Tell us about yourself
      - cleaner_form.fields_for :name_attributes do |name_form|
        = render :partial => "shared/name", :locals => {:f => name_form}
  
      #postcode
        %input{:type => 'text', :value => 'Postcode'}
        e.g. W2 1TT
    
      #email
        %input{:type => 'text', :value => 'E-mail'}
        e.g. very.innocent.cleaner@gmail.com
      
      #phone-number
        %input{:type => 'text', :value => 'Mobile phone number'}
        e.g. 07912345678
      
      #description
        %h4 Please write a short paragraph about yourself. 
        %textarea I am...
    
    #skills
      %hr
      %h2 2. Tell us about your skills and expectations
    
      %div
        = render :partial => 'shared/checkbox_with_label', :locals => {:label => 'Domestic cleaning'}
        = render :partial => 'shared/checkbox_with_label', :locals => {:label => 'Ironing'}
        = render :partial => 'shared/checkbox_with_label', :locals => {:label => 'Groceries shopping'}
        = render :partial => 'shared/checkbox_with_label', :locals => {:label => 'Dog-walking'}
    
      #minumum-hire
        %select
          %option I can be hired for no less than 1 hour
          %option I can be hired for no less than 2 hours
          %option I can be hired for no less than 3 hours
          %option I can be hired for no less than 4 hours

      #hourly-rate
        &pound;
        %input{:type => 'text', :value => 'Hourly rate'}
        for example, 7.5
    
      #surcharge
        &pound;
        %input{:type => 'text', :value => 'Cleaning materials surcharge'}
        for example, 2.5      
      .hint
        %h4
          You'll be expected to provide your own cleaning materials if necessary and you'll be paid extra for that.
        
    #availability
      %hr
      %h2 3. Tell us when you're available for work
    
      .hint
        %p Drag the mouse over the table. Hold 'Control' key to select multiple rectangles.
      
      #availability-chart
        = render :partial => 'availability_table'
    
    = render :partial => 'shared/terms_and_conditions'
  
    #submit
      = cleaner_form.submit "Join Innocent Cleaners"
      
  
    
  
  