#summary-block
  %input{:type => "hidden", :value => @cleaner.id, :id => 'cleaner-id'}
  
  #cleaner-summary
    %h1
      = @cleaner.first_name
    %p#introduction
      = @cleaner.description
    #details
      #skills
        %h3
          I'm happy to help you with
        %ul#list
          - Skills.skill_set.each do |skill|
            - if @cleaner.skills.send(skill)
              %li 
                %span 
                  = skill.to_s.humanize
      #stats
        %h3
          Info
        %ul#info
          - unless @cleaner.completed_jobs.empty?
            %li
              %span= jobs_done @cleaner
          %li
            %span 
              Living in
              = @cleaner.area
          %li
            %span 
              Created an account
              = time_ago_in_words @cleaner.created_at
              ago
      = render :partial => 'shared/booking', :locals => {:cleaner => @cleaner}