#summary-block
  %input{:type => "hidden", :value => @cleaner.id, :id => 'cleaner-id'}
  
  #cleaner-summary
    %h1
      = @cleaner.first_name
    %p#introduction
      = @cleaner.description
    #details
      #skills
        %h3
          I'm happy to help you with
        %ul#list
        - {:domestic_cleaning => 'Domestic Cleaning'}.each_pair do |key, value|
          - if @cleaner.skills.send(key)
            %li 
              %span 
                = value
      #stats
        %h3
          Info
        %ul#info
          %li
            %span= @cleaner.completed_jobs.empty? ? "Never been hired before" : "#{@cleaner.completed_jobs.size} jobs done"
          %li
            %span 
              Living in
              = @cleaner.area
          %li
            %span 
              Created an account
              = time_ago_in_words @cleaner.created_at
              ago
      = render :partial => 'shared/booking', :locals => {:cleaner => @cleaner}