= content_for :master_picture do
  #master-picture-container<>
    #master-picture
      - if @cleaner.new_record?
        %img{:src => '/images/stock/lady_thumbs_up.png'}<>
      - else
        = render :partial => 'picture'
  
= content_for :left_content do
  = render :partial => 'tips'

#right-container
  = render :partial => 'new'