= content_for :master_picture do
  = render :partial => 'picture'
  
= content_for :left_content do
  = render :partial => 'availability', :locals => {:availability => @cleaner.availability}

= render :partial => 'summary'
#right-container
  = render :partial => 'reviews'
  