= content_for :lady do
  %img.portrait_border{:src => '/images/emma_profile.png'}<>
  
= content_for :left_content do
  = render :partial => 'availability'

= render :partial => 'summary'
= render :partial => 'reviews'
  