- booking, client, cleaner = cleaners_booking, cleaners_booking.client, cleaners_booking.cleaner
.booking.cleaners-booking
  .personal-details  
    %h2.client-name
      = client.first_name
    .client-contact-details
      %p.phone        
        ==+#{client.phone}
      %p.email
        = mail_to client.email
    .client-address
      - booking.address.to_a.each do |line|
        %p= line
      %p.map-link
        = link_to 'map', "http://maps.google.co.uk/maps?q=#{booking.address.postcode.value}", :target => '_blank'
  .booking-details
    = render :partial => 'booking_details', :locals => {:booking => booking, :messages => cleaners_booking_messages(client)}
  .booking-deal
    .price<
      &pound;
      = round_if_possible booking.cost
    .status
      %h3= booking_status(booking)
    .controls
      - if booking.accepted? and booking.cancellable?
        = button_to "Cancel", cancel_cleaner_booking_path(@cleaner, booking)
      - elsif booking.pending?
        %p
          You have 
          = pluralize((booking.time_left / 1.minute).round, 'minute')
          to make a decision
        = button_to "Accept", accept_cleaner_booking_path(@cleaner, booking)
        = button_to "Decline", decline_cleaner_booking_path(@cleaner, booking)