- booking, client, cleaner = clients_booking, clients_booking.client, clients_booking.cleaner

.booking.clients-booking
  = hidden_field_tag 'id', booking.id
  .title<
    .name>
      = cleaner.first_name
    .time>
      = booking.day.strftime '%d %B, %A'
      = booking.start_time.localtime.strftime('%H:%M')
      &mdash;
      = booking.end_time.localtime.strftime('%H:%M')      
    .status>
      = booking_status(booking)
  .body
    .photo
      =link_to image_tag(cleaner.photo.url(:thumb)), cleaner_path(cleaner)
    .contact-details>
      %p==+#{cleaner.phone}
      %p= mail_to cleaner.email
    .booking-deal>
      .price
        &pound;
        = round_if_possible booking.cost
      .controls
        - if booking.cancellable?
          
          = render :partial => 'shared/button', :locals => {:text => 'Cancel', :post => cancel_cleaner_booking_path(cleaner, booking)}
        - elsif booking.completed?
          = render :partial => 'shared/button', :locals => {:text => 'Leave feedback', :href => cleaner_path(cleaner, :anchor => 'reviews')}
  .notes
    - messages = clients_booking_messages(cleaner)
    - if booking.cleaning_materials_provided?
      = messages[:cleaning_materials_provided]
    - else
      = messages[:cleaning_materials_not_provided]        