- booking, client, cleaner = clients_booking, clients_booking.client, clients_booking.cleaner
.booking.clients-booking
  .photo<>
    =link_to image_tag(cleaner.photo.url(:thumb)), cleaner_path(cleaner)
  .booking-details
    %h2= link_to cleaner.first_name, cleaner_path(cleaner)
    .cleaner-contact-details
      %p==+#{cleaner.phone}
      %p= mail_to cleaner.email
    = render :partial => 'booking_details', :locals => {:booking => booking, :messages => clients_booking_messages(cleaner)}
  .booking-deal
    .price<
      &pound;
      = round_if_possible booking.cost
    .status      
      %h3= booking_status(booking)
    .controls
      - if booking.cancellable?
        = button_to "Cancel", cancel_cleaner_booking_path(client, booking)