- unless @booking.errors.empty?
  #errors
    = error_messages_for :booking, :header_message => "Sorry, there were problems with this booking:", :message => nil
#new-booking.long-form
  %input{:type => 'hidden', :id => 'cleaner-id', :value => @booking.cleaner.id}
  = render :partial => 'shared/hourly_rate', :locals => {:rate => @booking.cleaner.rate}
  %h1
    Hire
    = @booking.cleaner.first_name
  #intro
    When you submit the form, we'll text 
    = @booking.cleaner.first_name
    to confirm the availability and email you.
  - form_for [@booking.cleaner, @booking] do |booking_form|
    #day
      %hr
      %h2 1. What day?
      #current-availability
        %input{:type => 'hidden', :id => 'booking_date', :name => 'booking_date', :value => @booking.start_time.to_i}
        #calendar
        #hours
          %h3 Available hours
          = render :partial => 'shared/hours'
    
    #time
      %hr
      %h2 2. What time?
      #time-selectors
        = hidden_field_tag :booking_start_time_value, @booking.start_time.localtime.hour
        = booking_form.select :start_time, []
        &mdash;
        = hidden_field_tag :booking_end_time_value, @booking.end_time.localtime.hour
        = booking_form.select :end_time, []
  
    #cleaning-materials
      %hr
      %h2 3. Will you provide cleaning materials?
      #cleaning-materials-selector
        %input{:type => "hidden", :id => "cleaning_materials_surcharge", :value => @booking.cleaner.surcharge}
        = booking_form.select :cleaning_materials_provided, surcharge_select_content(@booking) 
        %p
          In any case, please have your vacuum cleaner ready.
    #cost
    
    
    #submit
      = booking_form.submit "Hire #{@booking.cleaner.first_name}"