- unless @booking.errors.empty?
  #errors
    = error_messages_for :booking, :header_message => "Sorry, there were problems with this booking:", :message => nil
- form_for [@booking.cleaner, @booking], :url => new_booking_form_url do |booking_form|
  #new-booking.long-form
    %input{:type => 'hidden', :id => 'cleaner-id', :value => @booking.cleaner.id}
    = render :partial => 'shared/hourly_rate', :locals => {:rate => @booking.cleaner.rate}
    %h1
      Hire
      = @booking.cleaner.first_name
    #intro
      When you submit the form, we'll text 
      = @booking.cleaner.first_name
      to confirm the availability and text you.
    #day
      %hr
      %h2 1. What day?
      #current-availability
        %input{:type => 'hidden', :id => 'booking_date', :name => 'booking_date', :value => @booking_date}
        #calendar
        #hours
          %h3 #{@cleaner.first_name}'s availability
          = hidden_field_tag "minimum-hire", @booking.cleaner.minimum_hire
          = render :partial => 'shared/hours'
    
    #time
      %hr
      %h2 2. What time?
      = hidden_field_tag :booking_start_time_value, @booking.start_time ? @booking.start_time.localtime.hour : nil
      = hidden_field_tag :booking_end_time_value, @booking.end_time ? @booking.end_time.localtime.hour : nil
      #time-selectors<>
        #start-time<>
          = booking_form.select :start_time, []
        &nbsp;&mdash;&nbsp;
        #end-time<>
          = booking_form.select :end_time, []
        = "Minimum #{@booking.cleaner.minimum_hire} hour#{'s' if @booking.cleaner.minimum_hire > 1}"
    #cleaning-materials
      %hr
      %h2 3. Will you provide cleaning materials?
      #cleaning-materials-selector
        %input{:type => "hidden", :id => "cleaning_materials_surcharge", :value => @booking.cleaner.surcharge}
        = booking_form.select :cleaning_materials_provided, surcharge_select_content(@booking) 
        %p
          In any case, please have your vacuum cleaner ready.
    #cost
    
    
    #submit
      = booking_form.submit "Hire #{@booking.cleaner.first_name}"