#new-booking.long-form
  %input{:type => 'hidden', :id => 'cleaner-id', :value => @cleaner.id}
  = render :partial => 'shared/hourly_rate', :locals => {:rate => @cleaner.rate}
  %h1
    Hire
    = @cleaner.first_name
  #intro
    When you submit the form, we'll text 
    = @cleaner.first_name
    to confirm the availability and email you.
  #day
    %hr
    %h2 1. What day?
    #current-availability
      #calendar
      #hours
        %h3 Available hours
        = render :partial => 'shared/hours'
    
  #time
    %hr
    %h2 2. What time?
    #time-selectors
      %select#time-from        
      &mdash;
      %select#time-to
  
  #cleaning-materials
    %hr
    %h2 3. Will you provide cleaning materials?
    #cleaning-materials-selector
      %select#surcharge
        %option{:value => 0} Yes (no extra charge)
        %option{:value => round_if_possible(@cleaner.surcharge)}
          = "No (&pound;#{round_if_possible(@cleaner.surcharge)}/hour extra)"
      %p
        In any case, please have your vacuum cleaner ready.
  #cost
    
    
  #submit
    = button_to "Hire #{@cleaner.first_name}", 