#new  
  #intro
    %h1 Join Innocent Cleaners
  
    %p You're just 60 seconds away from being available for hire on Innocent Cleaners!
  
  #personal    
    %hr
    %h2 1. Tell us about yourself
    #honorific
      %select
        %option Mr
        %option Mrs
        %option Ms
    #first-name
      %input{:type => 'text', :value => 'First name'}
  
    #last-name
      %input{:type => 'text', :value => 'Last name'}
  
    #postcode
      %input{:type => 'text', :value => 'Postcode'}
      e.g. W2 1TT
    
    #email
      %input{:type => 'text', :value => 'E-mail'}
      e.g. very.innocent.cleaner@gmail.com
      
    #phone-number
      %input{:type => 'text', :value => 'Mobile phone number'}
      e.g. 07912345678
      
    #description
      %h4 Please write a short paragraph about yourself. 
      %textarea I am...
    
  #skills
    %hr
    %h2 2. Tell us about your skills and expectations
    
    %div
      = render :partial => 'shared/checkbox_with_label', :locals => {:label => 'Domestic cleaning'}
      = render :partial => 'shared/checkbox_with_label', :locals => {:label => 'Ironing'}
      = render :partial => 'shared/checkbox_with_label', :locals => {:label => 'Groceries shopping'}
      = render :partial => 'shared/checkbox_with_label', :locals => {:label => 'Dog-walking'}
    
    #minumum-hire
      %select
        %option I can be hired for no less than 1 hour
        %option I can be hired for no less than 2 hours
        %option I can be hired for no less than 3 hours
        %option I can be hired for no less than 4 hours

    #hourly-rate
      &pound;
      %input{:type => 'text', :value => 'Hourly rate'}
      for example, 7.5
    
    %h4 You'll be expected to provide your own cleaning materials if necessary and you'll be paid extra for that.
    #surcharge
      &pound;
      %input{:type => 'text', :value => 'Cleaning materials surcharge'}
      for example, 2.5      
        
  #availability
    %hr
    %h2 3. Tell us when you're available for work
    
    %h4 Drag the mouse over the table. Hold 'Control' key to select multiple rectangles.
      
    #availability-chart
      = render :partial => 'availability_table'
    
  #terms-and-conditions
    %hr
    %h4 Please take time to read Terms and Conditions for this website and check the following box if you agree with them.
    %input{:type => 'checkbox'} I agree with the Terms and Conditions
    
  #submit
    %input{:type => 'button', :value => 'Join Innocent Cleaners'}
      
  
    
  
  