#reviews
  %h2
    Reviews from people who hired me

  = render :partial => 'review', :locals => {:text => 'She\'s absolutely great!', :name => 'Evgeny from E1W', :date => '23 February 2010'}
  = render :partial => 'review', :locals => {:text => 'She is very polite and punctual and her command of English is good. She\'s cleaning my flat on a regular basis and I\'m very satisfied with her.', :name => 'Mark from NW1', :date => '07 March 2010'}
  = render :partial => 'review', :locals => {:text => 'She\'s absolutely great!', :name => 'Evgeny from E1W', :date => '23 February 2010'}
  = render :partial => 'review', :locals => {:text => 'She is very polite and punctual and her command of English is good. She\'s cleaning my flat on a regular basis and I\'m very satisfied with her.', :name => 'Mark from NW1', :date => '07 March 2010'}
  = render :partial => 'review', :locals => {:text => 'She\'s absolutely great!', :name => 'Evgeny from E1W', :date => '23 February 2010'}
  = render :partial => 'review', :locals => {:text => 'She is very polite and punctual and her command of English is good. She\'s cleaning my flat on a regular basis and I\'m very satisfied with her.', :name => 'Mark from NW1', :date => '07 March 2010'}

    