- if defined?(post)
  - id = "form_#{rand(100000000)}"
  :javascript
    var f = document.createElement('form');
    f.style.display = 'none'; 
    f.id = '#{id}'
    document.body.appendChild(f); 
    f.method = 'POST';         
    f.action = '#{post}';
    var at = document.createElement('input');
    at.name = 'authenticity_token'
    at.value = '#{form_authenticity_token}';
    f.appendChild(at);
  - onclick = "$('##{id}').submit()"
- if defined?(confirm) and confirm
  - onclick = "if (confirm(\"#{confirm}\")) {#{onclick}}"
.button{:class => ('on-black' if defined?(black) and black)}
  .left>
  .text>
    %a{:href => (defined?(href) ? href : '#'), :onclick => (defined?(onclick) ? onclick : '')}
      = text
  .right>