- form_for @client do |client_form|
  #new-client.padded-right-column.long-form
    #intro
      %h1#page-title= client_modification_title(controller.action_name)
      %p
        = client_modification_subtitle(controller.action_name)
        
      - unless @client.errors.empty?
        #errors
          = error_messages_for :client, :header_message => "Sorry, there were problems with this form:", :message => nil

    #personal.fieldset
      .top
      = render :partial => 'shared/fieldset_title', :locals => {:number => 1, :title => 'Tell us about yourself'}
      - client_form.fields_for :name do |name_fields|
        = render :partial => "shared/name", :locals => {:f => name_fields}        
    
      - client_form.fields_for :contact_details do |contact_details_fields|
        #email
          = contact_details_fields.text_field :email
          e.g. very.responsible.homeowner@gmail.com
  
        #phone
          = contact_details_fields.text_field :phone
          e.g. 07912345678
      .bottom-arrow
    #address.fieldset
      .top
      = render :partial => 'shared/fieldset_title', :locals => {:number => 2, :title => 'Tell us about the property that needs cleaning'}
      
      - client_form.fields_for :address do |address_fields|
        #first-line
          = address_fields.text_field :first_line
          e.g. Flat 15
        #second-line
          = address_fields.text_field :second_line
          e.g. 23 Happiness Crescent
        #third-line
          = address_fields.text_field :third_line
          e.g. Westminster
        #city
          = address_fields.text_field :city
          e.g. London
        - address_fields.fields_for :postcode do |postcode_fields|
          #postcode
            = postcode_fields.text_field :value, :value => @client.postcode.to_s
            e.g. W2 1TT
      #country
        #country-name United Kingdom
        We operate only in the UK
      .bottom-arrow
    #account.fieldset
      .top
      = render :partial => 'shared/fieldset_title', :locals => {:number => 3, :title => 'Create an account'}
      .hint
        Just choose your password      
      = render :partial => 'shared/new_account', :locals => {:f => client_form, :ask_for_old_password => (controller.action_name == 'edit' or controller.action_name == 'update')}

      - if controller.action_name == "new"
        = render :partial => 'shared/terms_and_conditions', :locals => {:f => client_form}
  
      #submit
        .blue.button
          = client_modification_submit(controller.action_name)
        
      .bottom