.cleaner
  .photo>
    =link_to image_tag(cleaner.photo.url(:thumb)), cleaner_path(cleaner)
  .text>
    %h4.name
      = link_to cleaner.first_name, :controller => "cleaners", :action => "show", :id => cleaner.id
    .university
      = university(cleaner.email)
    .introduction
      = truncate(cleaner.description, :length => 200, :omission => '&hellip; ' + link_to("(read the rest)", cleaner_url(cleaner)))
    .stats<
      .stats-column-first
        .jobs-done
          1 job done
          = #jobs_done cleaner
        - if cleaner.has_reviews? or true
          .reviews
            = link_to pluralize(cleaner.reviews.count, 'review'), cleaner_path(cleaner, :anchor => "reviews")        
      .stats-column-second
        .accepted-jobs
          100% accepted jobs
        .missed-jobs
          1 missed job
      .stats-column-third
        %div
          Last logged in
        .last-logged-in
          Yesterday
  .booking-info>
    .price
      = render :partial => 'shared/hourly_rate', :locals => {:rate => cleaner.rate}
    .availability      
      .days>
        = day_of_week(cleaner, :monday)
        = day_of_week(cleaner, :tuesday)
        = day_of_week(cleaner, :wednesday)
      .days>
        = day_of_week(cleaner, :thursday)
        = day_of_week(cleaner, :friday)
        = day_of_week(cleaner, :saturday)
      .days>
        = day_of_week(cleaner, :sunday)
    .hire
      .blue.button
        Hire #{cleaner.first_name}
      