.cleaner
  .photo>
    =link_to image_tag(cleaner.photo.url(:thumb)), cleaner_path(cleaner)
  .text>
    %h4.name
      = link_to cleaner.first_name, :controller => "cleaners", :action => "show", :id => cleaner.id
    .university
      = university(cleaner.email)
    .introduction
      = truncate(cleaner.description, :length => 200, :omission => '&hellip; ' + link_to("(read the rest)", cleaner_url(cleaner)))
    .stats<
      .stats-column-first
        .jobs-done
          = jobs_done cleaner
        - if cleaner.has_reviews?
          .reviews
            = link_to pluralize(cleaner.reviews.count, 'review'), cleaner_path(cleaner, :anchor => "reviews")        
      .stats-column-second
        .accepted-jobs
          = accepted_jobs cleaner
        .missed-jobs
          = missed_jobs cleaner
      .stats-column-third
        %div
          Last logged in
        .last-logged-in
          = cleaner.user.last_login_at ? time_ago_in_words(cleaner.user.last_login_at) : 'A few days ago'
          ago
  .booking-info>
    .price
      = render :partial => 'shared/hourly_rate', :locals => {:rate => cleaner.rate}
    .availability      
      .days>
        = day_of_week(cleaner, :monday)
        = day_of_week(cleaner, :tuesday)
        = day_of_week(cleaner, :wednesday)
      .days>
        = day_of_week(cleaner, :thursday)
        = day_of_week(cleaner, :friday)
        = day_of_week(cleaner, :saturday)
      .days>
        = day_of_week(cleaner, :sunday)
    .hire
      = render :partial => 'shared/button', :locals => {:text => "Hire #{cleaner.first_name}", :href => new_cleaner_booking_path(cleaner)} unless current_user and current_user.cleaner?
        
      