.cleaner
  .photo<>
    =link_to image_tag(cleaner.photo.url(:thumb)), cleaner_path(cleaner)
  .details>
    %h2.name      
      = link_to cleaner.first_name, :controller => "cleaners", :action => "show", :id => cleaner.id
    .stats
      .jobs-done
        %span= jobs_done cleaner
      .reviews
        - if cleaner.has_reviews?
          = link_to pluralize(cleaner.reviews.count, 'review'), cleaner_path(cleaner, :anchor => "reviews")
        - else
          No reviews yet
    .introduction
      = cleaner.description
    .days-of-week
      #{link_to "Available on", cleaner_path(cleaner, :anchor => 'availability')}:
      - [:monday, :tuesday, :wednesday, :thursday, :friday, :saturday, :sunday].each do |day|
        = day_of_week(cleaner, day)
    .university
      Student of
      = university(cleaner.email)
  = render :partial => 'shared/booking', :locals => {:cleaner => cleaner}