#faq.padded-right-column
  %h1#page-title Frequently asked questions
  = faq_question :faq_what_is_ic
  = faq_question :faq_why_students
  = faq_question :faq_finance
  %h3 Homeowners questions
  = faq_question :faq_feedback
  = faq_question :faq_how_hiring_works
  = faq_question :faq_cleaner_declines
  = faq_question :faq_how_do_i_pay
  = faq_question :faq_who_leaves_reviews
  = faq_question :faq_bad_result
  %h3 Students questions
  = faq_question :faq_is_it_flexible
  = faq_question :faq_do_i_have_to_pay_a_commission
  = faq_question :faq_do_i_have_to_visit
  %br
  = faq_question :faq_another_question
