#find-a-cleaner
  - form_tag '/' do
    #where
      %h2
        Enter your postcode
      %input{:name => 'postcode', :type => 'text', :value => ''}
    #what
      %h2
        Select what you need 
      #activities
        = render :partial => 'activity', :locals => {:name => 'domestic_cleaning', :activity => 'Domestic Cleaning'}
        = render :partial => 'activity', :locals => {:name => 'ironing', :activity => 'Ironing'}
        = render :partial => 'activity', :locals => {:name => 'groceries', :activity => 'Groceries Shopping'}
        = render :partial => 'activity', :locals => {:name => 'pets', :activity => 'Dog-walking'}
    #when
      %h2
        Select a date
      = hidden_field_tag "booking_date"
      #calendar
    #submit
      %input{:type => 'submit', :value => 'Search'}  

