= content_for :photo do
  %img{:src => '/images/smiling_lady.png'}<>
= content_for :summary do
  = render :partial => 'summary'  
= content_for :left_block do
  %form
    #search-where.search-block
      %h2
        Enter your postcode
      %input{:value => ''}
    #search-what.search-block
      %h2
        Select what you need 
      #search-activities     
        .search-activity
          %input{:type => 'checkbox'}
          Domestic cleaning
        .search-activity
          %input{:type => 'checkbox'}
          Ironing
        .search-activity
          %input{:type => 'checkbox'}
          Dog-walking
    #search-when.search-block
      %h2
        Select a date
      #calendar
    %input#search-submit{:type => 'submit', :value => 'Search'}  

= render :partial => 'cleaner', :locals => {:name => 'Emma'}
= render :partial => 'cleaner', :locals => {:name => 'Sonya'}
= render :partial => 'cleaner', :locals => {:name => 'Elizabeth'}