= content_for :quote do  
  #quote-text
    I'm glad I can hire a cleaner for my house and support local students at the same time. I definitely prefer Varsity Cleaners to conventional cleaning agencies!
  #quote-signature
    Dr. Simon Overell,
    %br
    software engineer
= content_for :right do
  #tagline<
    #border<>
      = image_tag 'paragraph-border-left-light.png'
    #text-container
      #text
        Hire British university students as domestic cleaners and help them finance their studies
    #separator
      = image_tag 'homepage-column-separator.png'
  #summary<
    #client-points>
      = render :partial => "welcome_clients"
    #cleaner-points
      = render :partial => "welcome_cleaners"
  #form-area-container<
    #left-border
      = image_tag 'search-area-border-left.png'
    #form-area<>
      #title-container
        #title
          Enter your postcode
      #form-container
        %form
          #text>
            #all-cleaners
              To see all cleaners in your area
            #example
              Your postcode or area,
              %br
              e.g. W2 1TT, N1 or Westminster
          #search-box>
            = text_field_tag 'search'
          #submit
            .blue.button
              Search
          
#cleaners>
  - @cleaners.each do |cleaner|
    = render :partial => 'cleaner', :locals => {:cleaner => cleaner}
    = render :partial => 'cleaner', :locals => {:cleaner => cleaner}
    = render :partial => 'cleaner', :locals => {:cleaner => cleaner}
#latest-activity>
  %h1 Latest Activity
  %ul
    - 10.times do |event|
      %li
        %span= describe event