= content_for :left_block_contents do  
  #quote
    #quote-text
      &ldquo;
      I'm glad I can hire a cleaner 
      %br
      and support local students 
      %br
      at the same time
      &rdquo;
    #quote-signature
      Dr. Simon Overell, software engineer
= content_for :right do
  #tagline<
    #text-container
      #text
        Hire British university students as domestic cleaners and help them finance their studies
  #summary<
    #client-points>
      = render :partial => "welcome_clients"
    #cleaner-points
      = render :partial => "welcome_cleaners"
  = render :partial => 'shared/search_form'
#cleaners>
  - @cleaners.each do |cleaner|
    = render :partial => 'cleaner', :locals => {:cleaner => cleaner}
  = render :partial => 'pagination'
#latest-activity>
  %h4 Latest Activity
  %ul
    - @events.each do |event|
      %li
        %span= describe event

  