!!! Strict
%html
  %head
    = stylesheet_link_tag 'http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css'
    = stylesheet_link_tag 'innocent'
    = stylesheet_link_tag 'redmond/jquery-ui-1.7.2.custom'
    = javascript_include_tag 'jquery-1.3.2.min'
    = javascript_include_tag 'jquery-ui-1.7.2.custom.min'
    = javascript_include_tag 'application'
    %title
      Innocent Cleaners
  %body
    #container<>
      #left-column<>
        #lady<>
          #lady-container
            = yield :lady
        #left-content
          = yield :left_content        
      #right-column<>
        #header<>
          #logo
            %a{:href => '/'}
              %img{:src => "/images/logo_scruff.png"}
          #navigation-container
            #navigation
              %a{:href => '#'}<
                About
              |
              %a{:href => '#'}<
                Help
        #content<>
          = yield
      #footer
        Copyright &copy; 2010 Innocent Cleaners
