!!! Strict
%html
  %head
    = stylesheet_link_tag 'http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css'
    = stylesheet_link_tag '67smiles'
    = stylesheet_link_tag 'redmond/jquery-ui-1.7.2.custom'
    = javascript_include_tag 'jquery-1.3.2.min'
    = javascript_include_tag 'jquery-ui-1.7.2.custom.min'
    = javascript_include_tag 'application'
    %title
      Innocent Cleaners
  %body
  #container<>
    #lady<>
      %img{:src => 'images/smiling_lady.png'}<>
    #header<>
      #logo
        %img{:src => "images/logo_scruff.png"}
      #navigation-container
        #navigation
          About | Help
      #summary<>
        #howto<>
          #howto-left<>
            .howto-title
              Homeowners
            = render :partial => 'howto', :locals => {:image => 'arrow', :text => 'Book a self-employed cleaner online for free'}
            = render :partial => 'howto', :locals => {:image => 'at', :text => 'Get the confirmation by email'}
            = render :partial => 'howto', :locals => {:image => 'tick', :text => 'Leave feedback when the job is done'}
            .register
              Homeowners, Register Now!
            .register-hint
              It takes less than 30 seconds
          #howto-right<>
            .howto-title
              Cleaners
            = render :partial => 'howto', :locals => {:image => 'free', :text => 'Advertise yourself for free'}
            = render :partial => 'howto', :locals => {:image => 'text', :text => 'Receive jobs by sms'}
            = render :partial => 'howto', :locals => {:image => 'percent', :text => 'Don\'t pay any commission'}
            .register
              Cleaners, Join Now!
            .register-hint
              You don't need an agency to find work for you
    #content<>
      = yield
    #footer
      Copyright &copy; 2010 Innocent Cleaners