!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %meta{"http-equiv" => "Content-type", "content"=>"text/html;charset=UTF-8"}
    = stylesheet_link_tag 'reset-min' # yahoo
    = stylesheet_link_tag 'innocent'
    = stylesheet_link_tag 'impromptu'
    = stylesheet_link_tag 'uploadify'
    = stylesheet_link_tag 'jquery-ui/jquery-ui-1.7.2.custom'

    = javascript_include_tag 'jquery-1.4.2.min'
    = javascript_include_tag 'jquery-ui-1.8.custom.min'
    = javascript_include_tag 'jquery-impromptu.3.0.min'
    =# javascript_include_tag 'jquery.color_fade'
    = javascript_include_tag 'swfobject.min'
    = javascript_include_tag 'jquery.uploadify.v2.1.0.min'
    = javascript_include_tag controller.controller_name if File.exists?("#{RAILS_ROOT}/public/javascripts/#{controller.controller_name}.js")
    = javascript_include_tag 'application'
    %title
      Varsity Cleaners
  %body
    = render :partial => 'home/ie6sucks'
    #login-form
      Please enter your email and password
      %br
      = text_field_tag :login, '', :onkeypress => 'loginKeyDown(event);'
      %br
      = password_field_tag :password, '', :onkeypress => 'loginKeyDown(event);'
    #container<
      #header
        = render 'layouts/navigation'
        = render 'layouts/logo'
        = render 'layouts/tabs'
      #content<>        
        = render :partial => @enable_horizontal_layout ? 'layouts/horizontal' : 'layouts/vertical'
      #footer
        Copyright &copy; 2010 Varsity Cleaners
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-15960472-1");
      pageTracker._trackPageview();
      } catch(err) {}
