!!! Strict
%html
  %head
    = stylesheet_link_tag 'reset-min.css' # yahoo
    = stylesheet_link_tag 'innocent'
    = stylesheet_link_tag 'impromptu'
    = stylesheet_link_tag 'uploadify'
    = stylesheet_link_tag 'jquery-ui/jquery-ui-1.7.2.custom'

    = javascript_include_tag 'jquery-1.3.2.min'
    = javascript_include_tag 'jquery-ui-1.7.2.custom.min'
    = javascript_include_tag 'jquery-impromptu.3.0.min'
    = javascript_include_tag 'jquery.color_fade'
    = javascript_include_tag 'swfobject.js'
    = javascript_include_tag 'jquery.uploadify.v2.1.0.min.js'
    = javascript_include_tag 'application'
    = javascript_include_tag controller.controller_name if File.exists?("#{RAILS_ROOT}/public/javascripts/#{controller.controller_name}.js")
    %title
      Innocent Cleaners
  %body    
    #login-form
      Please enter your email and password
      %br
      = text_field_tag :login, '', :onkeypress => 'loginKeyDown(event);'
      %br
      = password_field_tag :password, '', :onkeypress => 'loginKeyDown(event);'
    #container<>
      #header<>
        #logo
          %a{:href => '/'}
            %img{:src => "/images/logo_scruff.png"}
        #welcome-line
          - if current_user
            Hi, #{current_user.cleaner? ? link_to(current_user.owner.first_name, cleaner_path(current_user.owner)) : current_user.owner.first_name}!
        #navigation-container
          = render :partial => 'shared/navigation'      
      #flash
        - if flash[:notice]
          .notice= flash[:notice]
        - if flash[:warn]
          .warn= flash[:warn]
        - if flash[:error]
          .error= flash[:error]  
      #left-column<>
        = yield :master_picture
        #left-content
          = yield :left_content        
      #right-column<>
        #content<>
          = yield
      #footer
        Copyright &copy; 2010 Innocent Cleaners
