!!! Strict
%html
  %head
    = stylesheet_link_tag 'http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css'
    = stylesheet_link_tag '67smiles'
    = stylesheet_link_tag 'redmond/jquery-ui-1.7.2.custom'
    = javascript_include_tag 'jquery-1.3.2.min'
    = javascript_include_tag 'jquery-ui-1.7.2.custom.min'
    = javascript_include_tag 'application'
    %title
      Innocent Cleaners
  %body
  #navigation-container
    #navigation
      About | Help
  #container
    #lady
      %img{:src => 'images/smiling_lady.png'}
    #summary
      #logo
        %img{:src => "images/logo_scruff.png"}
      #howto
        %br
        %br
        .howto-step
          1. You book a cleaner online for free
        .howto-step        
          2. The cleaner confirms the availability by SMS
        .howto-step
          3. We send you an SMS confirming the booking
        .howto-step
          4. You pay the self-employed cleaner when the job is done
        .howto-step
          5. You earn points to spend on free cleaning when you leave feedback
    .clearer
    #content
      = yield
    #footer
      Copyright &copy; 2010 Innocent Cleaners